{{ define "global/404.go.tmpl" }}
<html lang="en">
    {{ template "global/head.go.tmpl" . }}
    <body>
	    <div>
            {{ .Error }}
        </div>
        {{ template "global/footer.go.tmpl" }}
        {{ template "global/scripts.go.tmpl" }}
    </body>
</html>   
{{ end }}