{{ define "global/footer.go.tmpl" }}
    <footer class="footer">
			<div class="footer__wrap">
				<ul class="footer__social social-list">
					<li class="social-list__item"><a href="#" class="_icon-facebook"></a></li>
					<li class="social-list__item"><a href="#" class="_icon-telegram"></a></li>
					<li class="social-list__item"><a href="#" class="_icon-twitter"></a></li>
					<li class="social-list__item"><a href="#" class="_icon-vk"></a></li>
					<li class="social-list__item"><a href="#" class="_icon-whatsapp"></a></li>
				</ul>
				<a href="#" class="footer__tag">#post-punk</a>
				<span class="footer__by">MUSIC BY THE INDEEPANDAS</span>
				<a href="#" class="footer__copy">© South Chertanovo Records
					<span>2020–2022&nbsp;</span><span>| All rights reserved</span>
				</a>
			</div>
		</footer>
{{ end }}