{{ define "global/head.go.tmpl" }}
    <head>
        <title>{{ .PageTitle }} – Punk.link</title>
        <meta charset="utf-8">
	    <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/style.min.css?_v=20221004135953" rel="stylesheet" crossorigin="anonymous" >
	    <!--link rel="shortcut icon" href="favicon.ico"-->
    </head>
{{ end }}