{{ define "global/header.go.tmpl" }}
<header class="header">
    <div class="header__wrap">
        <a class="logo" href="#">
            <picture>
                <source srcset="/assets/img/logo.webp" type="image/webp">
                <img src="/assets/img/logo.png" alt="logo" />
            </picture>
        </a>
        <a href="#" class="_icon-user header__user"></a>
    </div>
</header>
{{ end }}