{{ define "release.go.tmpl" }}
<html lang="en">
{{ template "global/head.go.tmpl" . }}
<body class="_icon-bg" style="position:relative ;">
    <div class="bg">
        <picture>
            <source srcset="/assets/img/logosback.webp" type="image/webp">
            <img src="/assets/img/logosback.png" alt="background art">
        </picture>
    </div>
    <div class="wrapper __container">
        {{ template "global/header.go.tmpl" }}
		<main class="page">
			<div class="title">
				{{ range .ArtistNames }}
					<h2 class="title__sub-title">{{ .Name }}</h2>
				{{ end }}
				<h1 class="title__title">{{ .ReleaseName }}</h1>
				<span class="title__year">{{ .ReleaseDate }}</span>
			</div>
			<div class="section-columns">
				{{ template "release-details.go.tmpl" . }}
				{{ template "streaming-platforms.go.tmpl" . }}
			</div>
			<a href="#" class="copy-link _icon-copy-link">
				<span>copy link</span>
			</a>
		</main>
		{{ template "global/footer.go.tmpl" }}
    </div>
	{{ template "global/scripts.go.tmpl" }}
</body>
</html>   
{{ end }}