{{ define "release.tmpl" }}
<html lang="en">
    {{ template "global/head.tmpl" . }}
    <body>
	    <h1>{{ .ArtistName }}</h1>
	    <h1>{{ .ReleaseName }}</h1>
	    <h2>{{ .ReleaseDate }}</h2>
        <img src="{{ .ImageDetails.Url }}" alt="{{ .ImageDetails.AltText }}" width="200" height="200">
        <ul>
            {{ range .Tracks }}
            <li>
                {{ .Name }}
                {{ if .IsExplicit }}
                <span>E</span>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </body>
</html>   
{{ end }}