{{ define "slim-release-details.go.tmpl" }}
<div>
    <img src="{{ .ImageDetails.Url }}" alt="{{ .ImageDetails.AltText }}" width="200" height="200">
    <h1>{{ .Name }}</h1>
    <h2>{{ .ReleaseDate }}</h2>
</div>
{{ end }}