@charset "UTF-8";

.title__title {
  font-size: 2.5rem;
  font-weight: bold;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KronaOne;
  font-display: swap;
  src: url("../fonts/KronaOne-Regular.woff2") format("woff2"), url("../fonts/KronaOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-bg:before {
  content: "\e908";
  color: #fff;
  font-size: 51.75rem;
  position: absolute;
  right: 0;
  top: 50.75rem;
}

._icon-Yandex-music-01:before {
  content: "\e909";
  color: #fc3f1d;
}

._icon-Yandex-music-02:before {
  content: "\e90b";
  color: #fff;
}

._icon-Apple-Music:before {
  content: "\e901";
  color: #fff;
}

._icon-check-mark:before {
  content: "\e902";
  color: #484848;
}

._icon-copy-link:before {
  content: "\e903";
  color: #9747ff;
}

._icon-Deezer:before {
  content: "\e904";
  color: #fff;
}

._icon-Spotyfy:before {
  content: "\e905";
  color: #fff;
}

._icon-user:before {
  content: "\e906";
  color: #9f9f9f;
}

._icon-VK-Music:before {
  content: "\e907";
  color: #fff;
}

._icon-YouTube:before {
  content: "\e90a";
  color: #fff;
}

._icon-vk:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\ea90";
}

._icon-whatsapp:before {
  content: "\ea93";
}

._icon-telegram:before {
  content: "\ea95";
}

._icon-twitter:before {
  content: "\ea96";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #484848;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.1;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #f2ffe1));
  background: -o-linear-gradient(left, #ffffff 50%, #f2ffe1 50%);
  background: linear-gradient(to right, #ffffff 50%, #f2ffe1 50%);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 5rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  width: 50%;
  margin-left: auto;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5.0625rem 0 5.5rem 6.25rem;
}

.header__user {
  margin-left: auto;
  font-size: 1.875rem;
}

.logo {
  width: 300px;
  margin-right: 3.125rem;
}

.logo img {
  max-width: 100%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  width: 50%;
  padding: 3.125rem 1.875rem 8.75rem 0;
}

.footer__social {
  padding-bottom: 2.1875rem;
}

.footer__tag {
  display: block;
  padding-bottom: 2.375rem;
  font-size: 1.5rem;
}

.footer__by {
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-bottom: 0.75rem;
}

.footer__copy {
  font-size: 0.875rem;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__item {
  font-size: 1.25rem;
  padding-right: 0.625rem;
}

.bg {
  position: relative;
  width: 100%;
}

.bg img {
  position: absolute;
  width: 27.8125rem;
  right: 51%;
  top: -37px;
  max-width: 100%;
  z-index: -1;
}

.title {
  font-size: 1.75rem;
  font-weight: 400;
  width: 50%;
}

.title__sub-title {
  padding: 0 1.875rem 1.4375rem 0;
}

.title__title {
  padding: 0 1.875rem 1.875rem 0;
}

.section-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album {
  width: 50%;
}

.album__img {
  display: block;
  width: 23.75rem;
  height: 23.75rem;
  margin: 4.375rem 0 5.625rem 0;
  background-color: #ffffff;
}

.album__img img {
  max-width: 100%;
}

.album__list {
  font-size: 1.5rem;
}

.album__list-item {
  padding: 0 1.875rem 1.5625rem 0;
}

.album__list-item small {
  font-size: 1.125rem;
  display: block;
  color: #9f9f9f;
}

.album__list-item span {
  color: #9f9f9f;
  padding-left: 0.625rem;
}

.lable-music {
  position: relative;
  width: 50%;
  padding-left: 5.9375rem;
}

.lable-music img {
  max-width: 100%;
}

.lable-music__title {
  font-size: 1.5rem;
  padding: 4.375rem 1.875rem 5.9375rem 0;
}

.lable-music__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  background-repeat: no-repeat;
  background-size: 5rem;
}

.lable-music__list-item a {
  font-size: 1.75rem;
  padding: 1.625rem 0 1.625rem 6.875rem;
}

.lable-music__btn {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.lable-music__btn::before {
  padding-right: 1.25rem;
  padding-top: 0.25rem;
}

.copy-link {
  color: #a762ff;
  font-weight: bold;
  font-size: 1.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 2px solid #a762ff;
  padding: 1.25rem 3.75rem;
  margin-bottom: 6.25rem;
}

.copy-link::before {
  padding-right: 0.625rem;
}